<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558851620511-bvnuoft9hhidfb2etga9mrprv1n3einc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558851620511-bvnuoft9hhidfb2etga9mrprv1n3einc</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvqAXER_FcYRLJs4rXgo6YWDTkOPP4jI</string>
	<key>GCM_SENDER_ID</key>
	<string>558851620511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NathaliaInacio.HurbChallenge</string>
	<key>PROJECT_ID</key>
	<string>hurbchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>hurbchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558851620511:ios:60360752e57654d3fdecaa</string>
	<key>DATABASE_URL</key>
	<string>https://hurbchallenge.firebaseio.com</string>
</dict>
</plist>